<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="gestor-clientes-mlab">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

     <div class="container">
       <div class="row">
         <h1>GESTOR DE CLIENTES</h1>
         <button on-click="obtenerClientes" class="btn btn-outline-primary col-lg-4 col-xs-12" type="button" name="button">Obtener Cliente</button>
       </div>

       <div class="row">

       <table class="table table-striped table-bordered  ">
            <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                  <td>[[item.idcliente]]</td>
                  <td>[[item.nombre]]</td>
                  <td>[[item.apellido]]</td>
              </tr>
            </template>
            </tbody>
        </table>

       </div>
     </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientesmLabApp extends Polymer.Element {
      static get is() { return 'gestor-clientes-mlab'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

      obtenerClientes(){
        var request = new XMLHttpRequest();
        //request.open("GET","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.open("GET","http://localhost:2019/movimientos",false);
        request.setRequestHeader("Accept","application/json");
        request.send();

        //para recuperar los datos de northwind es necesario el .value
        //this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }

      agregarClientes(){
        var request = new XMLHttpRequest();
        request.open("POST","https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"CustomerID":"12345","ContactName":"pepe","CompanyName":"pepe Bar"};
        var body = JSON.stringify(nuevoCliente);
        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);
      }

    }

    window.customElements.define(GestorClientesmLabApp.is, GestorClientesmLabApp);
  </script>
</dom-module>
